@media all and (max-width: 1000px){
    .content-wrapper{
        flex-wrap: wrap;
    }
    .content-item{
        width: 50%;
        margin-bottom: 100px;
    }
}
@media all and (max-width: 670px){
    .copy-container h1{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .copy-container h2{
        font-size: 42px;
    }
    .content-wrapper{
        flex-direction: column;
    }
    .content-item{
        width: 100%;
        margin-bottom: 60px;
    }
    input, textarea{
        width: 100%;
        padding: 10px;
    }
    .header-list li{
        display: none;
    }
    .footer-logo{
        float: none;
    }
    .footer-list{
        float: none;
    }
    .footer-list li{
        float: left;
        margin-right: 20px;
        font-size: 14px;
    }
    .footer{
        height: 80px;
    }
    .header-logo{
        float: none;
    }
    .contact-form p{
        font-size: 12px;
    }
}